* {
    font-family: 'Caprasimo', cursive;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    text-shadow: 1px 1px 3px rgb(100, 100, 100);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    font-size: 2em;
    border-style: none;
    box-shadow: 3px 3px 3px rgba(65, 43, 64, 0.392);
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    cursor: pointer;
    transform: translateY(-0.14em) scale(1.05);
}

button:active {
    transform: translateY(0.14em) scale(0.95);
}